<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Personal Blog" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Personal Blog" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <!-- <main role="main"> -->
       <%= render 'layouts/messages' %>
       <div class="container">
        <div class="blog-header">
          <h1 class="blog-title">SuperLeet</h1>
          <p class="lead blog-description">The development blog that's focused on, structured around, and always in... development.</p>
        </div>
          <div class="row">
            <%= yield %>
          </div>
       </div>
    <!-- </main> -->
    <footer>
      <div class="blog-footer">
        <p><a href="#">SuperLeet</a> is built with <a href="https:rubyonrails.org">Ruby on Rails</a> by <a href="https://twitter.com/davemoorestudio">@Dave Moore</a><br />
        Frontend framework by <a href="http://getbootstrap.com">Bootstrap</a><br /> 
        CSS tweaks based on customizations by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>
          <a href="#">Back to top</a>
        </p>
      </div>
    </footer>
  </body>
</html>
